# A general introduction to deep learning using keras

In [1]:
import numpy as np
import pandas as pd

In [2]:
seed = 7
np.random.seed(seed)

In [3]:
df = pd.read_csv('BBC.csv')
df.head()

,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
0,5,1,90000,2,0,5,1,0,2,2,50,1
1,5,1,60000,3,3,5,0,1,1,2,51,1
2,5,1,60000,3,3,5,1,1,5,2,51,1
3,5,2,70000,0,0,5,0,1,10,2,49,1
4,5,2,80000,5,5,5,1,4,2,2,48,1

In [4]:
array = df.values
array

array([[    5,     1, 90000, ...,     2,    50,     1],
       [    5,     1, 60000, ...,     2,    51,     1],
       [    5,     1, 60000, ...,     2,    51,     1],
       ...,
       [    4,     1, 30000, ...,     3,    57,     1],
       [    5,     1, 30000, ...,     3,    58,     1],
       [    5,     1, 30000, ...,     3,    57,     1]])

* 要預測 `BikeBuyer` 所以用其他的欄位當作 features
*

In [11]:
X = array[:, 0 : 11]
y = array[:, 11]

In [12]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(11, input_dim=11, init='uniform', activation='relu'))
model.add(Dense(8, init='uniform', activation='relu'))
model.add(Dense(8, init='uniform', activation='relu'))
model.add(Dense(1, init='uniform', activation='sigmoid'))

TypeError: add() got an unexpected keyword argument 'input_dim'

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X, y, nb_epoch=50, batch_size=10)

In [ ]:
scores = model.evaluate(X, y)
print('%s: %.2f%%' % (model.metrics_name[1], scores[1] * 100))